@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .article-text {
    @apply text-gray-800 dark:text-slate-300;
  }
  
  .prose a {
    @apply text-violet-800 dark:text-violet-300 !important;
    @apply no-underline hover:underline !important;
  }
  
  .prose a:visited {
    @apply text-violet-700 dark:text-violet-400 !important;
  }
  
  .prose a:active {
    @apply text-violet-900 dark:text-violet-200 !important;
  }
}